body {
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario{
    padding: 10px;
    background: rgb(240, 240, 235);
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(132, 132, 238);
}

label{
    text-align: left;
    display: inline-block;
    line-height: 1.8;
}

input{
    float: right;
    line-height: 1.2;
}

#botones {
    text-align: center;
    padding: 5px;
}

